<div class="checkout">
    <div class="credit-card-box">
      <div class="flip">
        <div class="front">
          <div class="chip"></div>
          <div class="number">{{creditcard.number}}</div>
          <div class="card-holder">
            <label>Nome</label>
            <div>{{creditcard.holder}}</div>
          </div>
          <div class="card-expiration-date">
            <label>Data Expiração</label>
            <div>{{creditcard.exp_date}}</div>
          </div>
        </div>
        <div class="back">
          <div class="strip"></div>
          <div class="ccv">
            <label>CCV</label>
            <div>{{creditcard.cvv}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification is-success" *ngIf="submitted === true">
      <button class="delete" (click)="submitted=false"></button>
      Dados salvo com sucesso!
    </div>
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <input class="input" id="holder" name="holder" type="text" [(ngModel)]="creditcard.holder" placeholder="Exe: Teste" >
            <p *ngIf="error['holder']" class="help is-danger">{{error['holder']}}</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Número</label>
        <div class="control">
            <input class="input" type="text" [(ngModel)]="creditcard.number" placeholder="Exe: 4539578763621486" >
            <p *ngIf="error['number']" class="help is-danger">{{error['number']}}</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Data Expiração</label>
        <div class="control">
            <input class="input" type="text" [(ngModel)]="creditcard.exp_date" placeholder="Exe: 07/22" >
            <p *ngIf="error['exp_date']" class="help is-danger">{{error['exp_date']}}</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Cvv</label>
        <div class="control">
            <input class="input" type="text" [(ngModel)]="creditcard.cvv" placeholder="Exe: 1324">
            <p *ngIf="error['cvv']" class="help is-danger">{{error['cvv']}}</p>
        </div>
    </div>
      
    <div class="field is-centered is-grouped">
        <div class="control">
          <button class="button is-success is-link" (click)="submit()">Submit</button>
        </div>
    </div>